################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HalFiyatlari.Schedule/bin/Debug
/.vs/HalFiyatlari/v16
/HalFiyatlari.Schedule/obj/Debug
/packages
/.vs
/HalFiyatlari.Api/bin
/HalFiyatlari.Api/obj
/HalFiyatlari.Schedule/obj/Release
/HalFiyatlari.Mobile/HalFiyatlari.Mobile/obj
